button{
  border:2px solid black;
  height: 100px;
  width: 100px;
  background-color: gray;
  border-radius: 50%;
}
.turnBlue{
  color:white;
  background: blue;
}
.turnRed{
  color:white;
  background: red;
}
.lead{
  font-size: 30px;
}
